.nav li,
.registerClass {
  list-style-type: none;
  margin: 5px;
  /* margin-top: 10px; */
  size: 2rem;
  font-weight: 500;
  padding: 5px;
  background: black;
  border-radius: 5px;
}
li :hover,
.registerClass:hover {
  color: purple;
  font-size: large;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  transition-duration: 500ms;
}

/* .nav :hover {
  font-size: 30px;
} */
.navlink,
.registerClass {
  list-style-type: none;
  color: white;
  text-decoration: none;
}
